@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary: #00FF80;
    --m: #99D5BF;
    --tua: #579981;
    --muda: #C7E6C9;
    --putih: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary: #00FF80;
    --m: #99D5BF;
    --tua: #579981;
    --muda: #C7E6C9;
    --putih: #fff;
}

.login-box {
    margin-top: 15px;
    margin-left: 24%;
    width: 600px;
    padding: 30px;
    justify-content: center;
}

.col-12 {
    padding: 50px;
    padding-top: 0;
    width: 300px;
}


h2 {
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

span {
    margin: 0;
}

img {
    margin-bottom: 30px;
    display: block;
    width: 200px !important;
}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
    .row {
        padding: 0;
    }

    img {
        margin: 0;
        bottom: 0;
    }
}